site_name: GeoGuide in China
site_url: https://www.geoguide.top/
repo_url: https://github.com/Konano/geoguide-in-china
repo_name: Geoguide in China
theme:
  name: material
  language: zh
  icon:
    repo: fontawesome/brands/github
  # features:
  #   - navigation.tabs
  #   - navigation.tabs.sticky
  features:
    - navigation.instant
    - navigation.instant.prefetch
    - navigation.indexes
  palette:
    # Palette toggle for automatic mode
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode
    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      # scheme: youtube
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      # scheme: youtube
      toggle:
        icon: material/brightness-4
        name: Switch to system preference
nav:
  - index.md
  - 如何开始 Geocaching:
    - getting-started/index.md
    - getting-started/cgeo.md
  - hiding-a-cache.md
  - glossary.md
  # - faq.md
# extra_css:
#   - stylesheets/extra.css
markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - attr_list
  - md_in_html
  - pymdownx.blocks.caption
